<h2>Dear Diary</h2>


<h4>Today I ate...</h4>
<%= form_for @meal do |m| %>
  Meal: <%= m.text_field :meal_type, placeholder: 'i.e. Breakfast, Lunch, Dinner', required: true  %>
  <%= m.submit 'Create meal' %>
<% end %>
